/*основний колір тексту #212121 */
/*вторинний колір тексту #757575 */
/*акцентт #2196F3 */
/*основний колір фону #E5E5E5 */
/*колір фону героя та футера #2f303a */
/*шрифт лого Raleway*/
/*основний шрифт тексту Roboto*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --main-font: Roboto, sans-serif;
    --primary-bgc:#FFFFFF;
}

body {
    font-family: var(--main-font);
    background-color: var(--primary-bgc);
    font-size: 14px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-name, 
.section-expert {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
}

.footer-address,
.footer-link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;    
}

.site-nav .link:hover,
.site-nav .link:focus,
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

/*--------------------навігаія по сайту--------------*/

.logo {
    font-family: Raleway, sans-serif;
    color: var(--accent-color);    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-up {
    color: #000000;
}

.site-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/*--------------------Контакти-----------------------*/

.contact .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.contact .link:hover,
.contact .link:focus,
.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color);
}

/*-------------Герой--------------*/

.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36x;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
}

/*--------------Секції-----------------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature-title,
.work-title,
.teams-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--primary-text-color);
}

.feature-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.teams-name {    
    font-weight: 500;    
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.teams-expert {        
    color: var(--title-text-color);
}

.teams {
    background: #f5f4fa;
}

/*--------Футер---------*/

.footer {
    background-color: #2f303a;
}

.logo-down {
    color: #FFFFFF;
}

.footer-address {
    color: #FFFFFF;
}
.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

/*------------Портфоліо-------------*/

